WebContent/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://srvs.imcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://srvs.imcs.com" xmlns:intf="http://srvs.imcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://srvs.imcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="emailId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateEmployeeInfoRequest">

      <wsdl:part element="impl:updateEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeInfoResponse">

      <wsdl:part element="impl:updateEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeService">

      <wsdl:operation name="updateEmployeeInfo">

         <wsdl:input message="impl:updateEmployeeInfoRequest" name="updateEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeInfoResponse" name="updateEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceSoapBinding" type="impl:EmployeeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceService">

      <wsdl:port binding="impl:EmployeeServiceSoapBinding" name="EmployeeService">

         <wsdlsoap:address location="http://localhost:8080/WebservicesSOAPButtomDown/services/EmployeeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
