WebContent/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://srvs.imcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://srvs.imcs.com" xmlns:intf="http://srvs.imcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://srvs.imcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deleteEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteEmployeeInfoRequest">

      <wsdl:part element="impl:deleteEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeInfoResponse">

      <wsdl:part element="impl:deleteEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeService">

      <wsdl:operation name="deleteEmployeeInfo">

         <wsdl:input message="impl:deleteEmployeeInfoRequest" name="deleteEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeInfoResponse" name="deleteEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceSoapBinding" type="impl:EmployeeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceService">

      <wsdl:port binding="impl:EmployeeServiceSoapBinding" name="EmployeeService">

         <wsdlsoap:address location="http://localhost:8080/WebservicesSOAPButtomDown/services/EmployeeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
